## Project Euler 22

Using names.txt (right click and 'Save Link/Target As...'), a 46K text file containing over five-thousand first names, begin by sorting it into alphabetical order. Then working out the alphabetical value for each name, multiply this value by its alphabetical position in the list to obtain a name score.

For example, when the list is sorted into alphabetical order, COLIN, which is worth 3 + 15 + 12 + 9 + 14 = 53, is the 938th name in the list. So, COLIN would obtain a score of 938 Ã— 53 = 49714.

What is the total of all the name scores in the file?

In [1]:
# Read in the data
with open('p022_names.txt','r') as file:     #Project Euler 67. File contains 100 rows
    data = file.read()
data[0:47]

'"MARY","PATRICIA","LINDA","BARBARA","ELIZABETH"'

In [2]:
# Condition the data
data = sorted(data.replace('"','').split(','))

data[0:5]

['AARON', 'ABBEY', 'ABBIE', 'ABBY', 'ABDUL']

In [3]:
# Solve the problem
# Method 1

i = 0
ans = 0

while i < len(data):
    for char in data[i]:
        ans += (i+1)*(ord(char) - ord('A') + 1)
    i+=1

ans

871198282

In [4]:
# Solve the problem
# Method 2

    # Variables
        # Position in List = pos
        # letter = char

    # Distributive property a(b+c) = ab + ac
        #   pos * (char_val_1 + char_val_2 + char_val_3) 
        #   pos * char_val_1 + pos * char_val_2 + pos * char_val_3

        #  position * alphabet_value          
ans = sum((pos + 1) * (ord(char) - ord('A') + 1)       #ord('A') = 65 => ord('B') - ord('A') + 1 = 2
          for (pos, name) in enumerate(data)           #(0, AARON)
          for char in name)                            #[A,A,R,O,N]
ans

871198282

In [5]:
# Show what the tuple looks like

mylist = [(pos,name,char)
          for (pos, name) in enumerate(data)
          for char in name]
mylist[0:10]

[(0, 'AARON', 'A'),
 (0, 'AARON', 'A'),
 (0, 'AARON', 'R'),
 (0, 'AARON', 'O'),
 (0, 'AARON', 'N'),
 (1, 'ABBEY', 'A'),
 (1, 'ABBEY', 'B'),
 (1, 'ABBEY', 'B'),
 (1, 'ABBEY', 'E'),
 (1, 'ABBEY', 'Y')]

In [6]:
ans

871198282